<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IComercialService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:46114/ComercialService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComercialService"
                contract="ComercialService.IComercialService" name="BasicHttpBinding_IComercialService" />
        </client>
    </system.serviceModel>
</configuration>