<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRRHHService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:46114/RRHHService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRRHHService" contract="RRHHServiceWS.IRRHHService"
                name="BasicHttpBinding_IRRHHService" />
        </client>
    </system.serviceModel>
</configuration>